
		*{
			margin: 0;
			padding: 0;
		}

		body{
			align-items: center;
		}

		header{
			background-color: rgb(49, 193, 150);
			box-shadow: 0 0 6px black;
		}

		h1,h2,h3,h4,h6{
			text-align: center;
		}

		.modal{
			position: fixed;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.7);
			padding-top: 200px;
			width: 100%;
			height: 100%;
			animation-name: aparecer;
			animation-duration: 1s;
			display: none;
		}

		.conteudo-modal{
			background-color: #ddd;
			margin: 0 25% 0 25%;
			height: 400px;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
			padding: 10px;
		}

		.fechar{
			float: right;
			position: relative;
			right: 8px;
			top: 8px;
			font-size: 1.5em;
			cursor: pointer;
		}

		@keyframes aparecer {
			0%{
					opacity: 0;
			}
			100%{
					opacity: 1;
			}
		}

		.nav{
			max-width: 900px;
			margin: auto;
			overflow: auto;
		}

		.logo > img{
			width: 150px;
		}

		.nav > .logo{
			max-width: 150px;
			margin: 10px;
			float: left;
		}

		.content{
			max-width: 900px;
			padding: 10px;
			margin: auto;
		}

		#plus{
			font-size: 100px;
			float: right;
			margin: 0;
		}

		#plus:hover{
			cursor: pointer;
		}

		#refresh{
			font-size: 100px;
			float: right;
			margin-right: 20px;
		}

		#refresh:hover{
			cursor: pointer;
		}

		#close{
			float: right;
		}

		#close:hover{
			cursor: pointer;
		}

		input[type=text], select {
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		input[type=submit] {
		    width: 100%;
		    background-color: rgb(49, 193, 150);
		    color: white;
		    padding: 14px 20px;
		    margin: 8px 0;
		    border: none;
		    border-radius: 4px;
		    cursor: pointer;
		}

		input[type=submit]:hover {
		    background-color: #45a049;
		}

		.post{
			box-shadow: 0 0 6px black;
			margin: 10px;
			padding: 10px;
		}
