
body{
  background-image: url("../img/gradient_bg.png");
  background-repeat: repeat-x;
  background-position: top;
}

.content{
    text-align: center;
}

nav{
  font-size: 0.5cm;
  background-color: FCCABB;
}

p{
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Times New Roman",Georgia, Serif;
}

iframe{
  width: 100%;
}

article{
  margin: 1.3em;
  padding: 0.5em;
}

.content{
  border-color: green;
  border-style: groove;
}

#first{
  border-color: yellow;
  border-style: inset;
}

#second{
  border-color: pink;
  border-style: ridge;
}

#third{
  border-color: red;
  border-style: dotted;
}

#fourth{
  border-color: purple;
  border-style: inherit;
}

#fifth{
  border-color: blue;
  border-style: double;
}
