*{
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url(../img/batGround.jpg);
}
.navegador-superior {
  z-index: 0;
  list-style-type: none;
  background-color: black;
  box-shadow: 0px 2px 8px black;
}
.dropdown{
  z-index: 0;
  list-style-type: none;
  background-color: rgb(106, 107, 37);
  box-shadow: 0px 2px 8px black;
}

.navegador-superior > li {
  display: inline-block;
}

.navegador-superior > li > a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
}

.navegador-superior > li > a:hover, .navegador-lateral > li > a:hover, .dropdown > li > a:hover{
  background-color: rgb(18, 105, 133);
}

.navegador-superior > li > a:hover + .dropdown{
  visibility: visible;
  max-height: 400px;
  opacity: 1;
}

.dropdown:hover{
  visibility: visible;
  max-height: 400px;
  opacity: 1;
}

.dropdown{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 200px;
  max-height: 0px;
  transition: all 1000ms;
}

.dropdown > li{
  padding: 20px;
  text-align: center;
}

.dropdown > li > a{
  text-decoration: none;
  color: white;
}

.navegador-lateral{
  z-index: -1;
  display: block;
  list-style-type: none;
  background: linear-gradient(rgb(47, 37, 45), white);
  box-shadow: 0px 2px 8px black;
}

.navegador-lateral > li > a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
}

.conteudo{
  margin: 10px;
  display: block;
  border-style: dotted;
  border-color: rgba(21, 132, 252, 0.82);
}

.lateral-direito{
  background-color: white;
  display: block;
  border: 2px solid black;
  margin: 10px;
}

@media (min-width:600px) {
  .navegador-lateral{
    float: left;
    width: 15vw;
    height: 800px;
  }

  .conteudo{
    width: 55vw;
    height: 800px;
    float: left;
  }

  .lateral-direito{
    float: left;
    width: 22vw;
    height: 800px;
  }
}

.image-content{
  animation-name: andar;
  animation-duration: 10s;
  animation-iteration-count:infinite;
}

@keyframes girar {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg); }
}

.image{
  width: 400px;
  height: 250px;
  display: block;
  float: left;
  margin: 10px;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count:infinite;
  animation-timing-function: linear;
}

@keyframes andar {
  from { margin-top: 0px; }
  25%{margin-left: 70%;margin-top: 0px;}
  50%{margin-left: 70%;margin-top: 50%;}
  75%{margin-left: 0px;margin-top: 50%;}
  to   { margin-top: 0px;}
}
