
*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

@font-face {
    font-family: fontawesome;
    font-style: normal;
    src: url(../font-awesome-4.6.3/fonts/fontawesome.woff);
}

.banner{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px 16px;
  overflow: auto;
}

.banner .esquerda{
  background-color: transparent;
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  display: block;
  font-family: fontawesome;
  font-size: 37px;
  letter-spacing: 3px;
  line-height: 37px;
  position: relative;
  text-decoration: none;
  text-decoration-color: rgb(85, 85, 85);
  text-decoration-line: none;
  text-decoration-style: solid;
  width: 49.99999%;
  float: left;
}

.banner .esquerda .dotcom{
  color: #4CAF50;
}

.banner .direita{
  margin-top: 16px;
  width: 49.99999%;
  float: left;
}

.banner .direita .frase{
  float: right;
  color: #000;

  letter-spacing: 4px;

  font-family: "Segoe UI",Arial,sans-serif;

  font-size: 15px;
  line-height: 22.5px;

  position: relative;
  top: 5px;
}
