*{
  box-sizing: border-box;
  margin: 0px;
}

body{
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{


}

nav.horizontal{
  color: #fff;
  background-color: #4CAF50;
  font-family: "Segoe UI",Arial,sans-serif;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  position: relative;
  font-size: 17px;
  z-index: 4;
}

nav.horizontal ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  letter-spacing: 4px;
}

nav.horizontal ul li{
  float: left;
  color: inherit;
  transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}

nav.horizontal ul li a{
  padding: 16px 16px;
  color: inherit;
  text-decoration: none;
  display: block;
}

.hover-white:hover{
  color: #000;
  background-color: #fff;
}

nav.horizontal ul li a:hover{
  color: #000;

}

nav.horizontal ul li.right{
  float: right;
}

.close{
  display: block;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: Verdana,sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  position: absolute;
  right: 0px;
  text-decoration: none;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.3s, 0.15s, 0.3s, 0.3s;
  transition-property: background-color, color, box-shadow, opacity;
  transition-timing-function: ease, ease, ease, ease;
}

nav.menuItems{
  display: none;
	padding-bottom: 40px;
	position: absolute;
	width: 100%;
	z-index: 99 ;
  color: #000;
  background-color: #f1f1f1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

nav.menuItems div.row{
  padding-bottom: 8px;
  padding-top: 20px;
  color: #000 !important;
}

.col{
  float: left;
  padding: 8px 8px;
  width: 33.33333%;
  box-sizing: border-box;
}

.col a{
  text-decoration: none;
  color: #000;
  display: block;
}

.col a:hover{
  background-color: rgb(204, 204, 204);
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  outline-color: rgb(0, 0, 0);
  outline-style: none;
  outline-width: 0px;
  text-decoration: none;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-line: none;
  text-decoration-style: solid;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.3s, 0.15s, 0.3s, 0.3s;
  transition-property: background-color, color, box-shadow, opacity;
  transition-timing-function: ease, ease, ease, ease;
}

.col h3{
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
}

nav.vertical{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  margin-bottom: -155px;
  overflow: hidden;
  position: absolute;
  width: 230px;
  z-index: 3;
  height: 100%;
}

nav.vertical h4{
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 10px 0px 10px 16px;
}

nav.vertical ul li a{
  text-decoration: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 16px;
  line-height: 24px;
  outline-color: rgb(0, 0, 0);
  outline-style: none;
  outline-width: 0px;
  padding: 0px 16px;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-line: none;
  text-decoration-style: solid
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.3s, 0.15s, 0.3s, 0.3s;
  transition-property: background-color, color, box-shadow, opacity;
  transition-timing-function: ease, ease, ease, ease;
}

nav.vertical ul li a:hover{
  background-color: #ccc;
}
